header, footer{
    margin: 1.5rem
}

.myClass{
    padding:.75em;
    /* Safari and Chrome */
    -webkit-column-count:3;
    -moz-column-count: 3;
    column-count:3;
}

ol{
    list-style:upper-roman;
    margin:1em;
}

footer{
    text-transform: uppercase;
}
